.navbar {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    border-bottom: 1px solid #f2f2f2;
    background-color: rgb(224, 172, 108);
    /* text-align: right; */
}

.navbar {

    /* display: flex; */
}

.navbar a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border-color: black;
}

.navbar .home,
.navbar .list,
.navbar .reserve,
.navbar .about,
.navbar .login,
.navbar .logout,
.navbar .profile,
.navbar .signup {
    border-bottom: 2px solid;
    margin: 5px;
}