/* navbarBig */
.navbarSmall {
    display: none;
}

.navbarBig {
    display: block;
    border-bottom: 1px solid #f2f2f2;
    background-color: rgb(78, 73, 70);
    height: 50px;
    width: 100%;
}

.navbarBig ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.navbarBig li {
    float: right;
}

.navbarBig .title {
    float: left;
    height: 48px;
    width: 484px;
}

@media screen and (max-width: 1250px) {
    .navbarBig .title {
        display: none;
    }
}

.navbarBig .navButton {
    display: inline;
    float: right;
    width: auto;
    height: 50px;
    background-color: rgb(78, 73, 70);
    text-align: center;
    padding: 0px 10px;
    line-height: 50px;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.navbarBig .language:hover,
.navbarBig .navButton:hover {
    background-color: rgb(234, 171, 182);
}

.navbarBig .language {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 0px;
    position: relative;
    cursor: pointer;
}

.navbarBig .dropBox {
    position: absolute;
    top: 50px;
    height: 60px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbarBig .dropBox .option {
    height: 30px;
    font-size: 14px;
    color: white;
    line-height: 30px;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .navbarBig {
        display: none;
    }

    .navbarSmall {
        display: flex;
        height: 100px;
        flex-direction: column;
        align-items: center;
    }

    .navbarSmall .titleBox {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(78, 73, 70);
    }

    .navbarSmall .title {
        width: 370px;
        height: 36px;
    }

    .navbarSmall #tools {
        border: solid 1px black;
        box-sizing: border-box;
        height: 50px;
        width: 50px;
        padding: 10px;
        float: left;
    }

    .navbarSmall .bigBox {
        position: relative;
        width: 100%;
        height: 50px;
        background-color: rgb(78, 73, 70);
        border-top: solid 1px black;
    }

    .navbarSmall .bigDropbox {
        position: absolute;
        top: 50px;
        display: flex;
        width: 100%;
        flex-direction: column;
        border-top: solid 1px black;
    }

    .navbarSmall .navButton {
        display: block;
        float: right;
        width: auto;
        height: 50px;
        padding: 8px 0px;
        background-color: rgb(78, 73, 70);
        text-align: center;
        padding: 0px 4px;
        line-height: 50px;
        font-size: 22px;
        color: white;
        cursor: pointer;
    }

    .navbarSmall .bigDropbox .brick {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: rgb(78, 73, 70);
        color: white;
        font-size: 22px;
        padding-left: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px black;
    }

    .navbarSmall .globe {
        /* display: flex; */
        /* justify-self: center; */
    }

    .navbarSmall .line {
        /* display: flex; */
        /* justify-self: center; */
        border: solid 1px gray;
        height: 70%;
        width: 0px;
        margin: 0px 30px;
    }

    .navbarSmall .option {
        height: 30px;
        width: 60px;
        text-align: center;
        line-height: 30px;
        padding: 0px 10px;
    }

    .navbarSmall .brick:hover,
    .navbarSmall .navButton:hover {
        background-color: rgb(234, 171, 182);
    }
}