/* News */
.news {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 800px;
    background-color: var(--PINK);
}

.news .bigBox {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.news h1 {
    text-align: center;
}

.news table {
    border-collapse: collapse;
    background-color: var(--LIGHT_PINK);
    border: 2px solid;
    text-align: center;
    font-size: 20px;
}

.news thead {
    border-bottom: 2px solid gray;
    padding: 8px 30px;
}

.news tr {
    height: 45px;
    border-bottom: 1px solid gray;
}

.news td {
    height: 45px;
    width: auto;
    padding: 8px 30px;
}

.news .title {
    cursor: pointer;
}

.news .title:hover {
    /* border-bottom: solid 2px var(--LIGHT_PINK); */
    text-decoration: underline;
}

.news .create {
    text-align: center;
    margin: 6px;
    display: inline-block;
    width: 100px;
    padding: 4px 6px 4px 6px;
    background-color: var(--LIGHT_PINK);
    border: solid 2px var(--GRAY);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: var(--GRAY);
    cursor: pointer;
}