.userList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 1000px;
    background-color: var(--PINK);
}

.userList h1 {
    text-align: center;
}

.userList table {
    border-collapse: collapse;
    background-color: var(--LIGHT_PINK);
    border: 2px solid;
    text-align: center;
    font-size: 20px;
}

.userList thead {
    border-bottom: 2px solid gray;
    padding: 8px 30px;
}

.userList td {
    border-bottom: 1px solid gray;
    padding: 8px 30px;

}

.userList .edit {
    position: relative;
    box-sizing: border-box;
    background-color: var(--GRAY);
    color: var(--LIGHT_PINK);
    border: solid 2px var(--PINK);
    margin: 0px 10px;
    padding: 1px 6px;
    border-radius: 8px;
    cursor: pointer;
}