body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.daysOfWeek {
  /* margin-left: 60px; */
  margin-right: 80px;
}

.column {
  width: 130px;
}

.box {
  max-height: 21.6px;
  width: 80px;
}

.columnContainer {
  display: flex
}